ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 18px;
  background-color: none;
}

.myH1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 620;
  line-height: 180px;
}
